<a href="https://colab.research.google.com/github/negar-ai/Kaggle-Competition/blob/main/Exploring_Mental_Health_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
!gdown --folder --id 1oLj0Gf2y5SATPdd-_CSf7PIcNKvmur5P

/usr/local/lib/python3.11/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Retrieving folder contents
Processing file 1NgAC0k8KQyAtBxR_32hUkqmvsWpgX_Ou sample_submission.csv
Processing file 1WVjKYtk45SQWRpOHCE6uYXMREUKhcAR1 train.csv
Processing file 1AIz_XK8y-hG3LWmwsH7ZqynMi6wDZtAe test.csv
Retrieving folder contents completed
Building directory structure
Building directory structure completed
Downloading...
From: https://drive.google.com/uc?id=1NgAC0k8KQyAtBxR_32hUkqmvsWpgX_Ou
To: /content/playground-series-s4e11/sample_submission.csv
100% 844k/844k [00:00<00:00, 111MB/s]
Downloading...
From: https://drive.google.com/uc?id=1WVjKYtk45SQWRpOHCE6uYXMREUKhcAR1
To: /content/playground-series-s4e11/train.csv
100% 16.4M/16.4M [00:00<00:00, 46.4MB/s]
Downloading...
From: https://drive.google.com/uc?id=1AIz_XK8y-hG3LWmwsH7ZqynMi6wDZtAe
To: /content/playground-series-s4e11/test.csv
100% 10.8M/10.8M [00:00<00:00, 29.2MB/s]
Download completed

# Data Overview

In [ ]:
train = pd.read_csv("/content/playground-series-s4e11/train.csv")
test = pd.read_csv("/content/playground-series-s4e11/test.csv")

In [ ]:
train.shape

(140700, 20)

In [ ]:
test.shape

(93800, 19)

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140700 entries, 0 to 140699
Data columns (total 20 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   id                                     140700 non-null  int64
 1   Name                                   140700 non-null  object
 2   Gender                                 140700 non-null  object
 3   Age                                    140700 non-null  float64
 4   City                                   140700 non-null  object
 5   Working Professional or Student        140700 non-null  object
 6   Profession                             104070 non-null  object
 7   Academic Pressure                      27897 non-null   float64
 8   Work Pressure                          112782 non-null  float64
 9   CGPA                                   27898 non-null   float64
 10  Study Satisfaction                     27897 non-null   float64
 11  Job Satisfaction                       112790 non-null  float64
 12  Sleep Duration                         140700 non-null  object
 13  Dietary Habits                         140696 non-null  object
 14  Degree                                 140698 non-null  object
 15  Have you ever had suicidal thoughts ?  140700 non-null  object
 16  Work/Study Hours                       140700 non-null  float64
 17  Financial Stress                       140696 non-null  float64
 18  Family History of Mental Illness       140700 non-null  object
 19  Depression                             140700 non-null  int64
dtypes: float64(8), int64(2), object(10)
memory usage: 21.5+ MB

In [ ]:
# we need to handle non values
train.isnull().sum()

id                                            0
Name                                          0
Gender                                        0
Age                                           0
City                                          0
Working Professional or Student               0
Profession                                36630
Academic Pressure                        112803
Work Pressure                             27918
CGPA                                     112802
Study Satisfaction                       112803
Job Satisfaction                          27910
Sleep Duration                                0
Dietary Habits                                4
Degree                                        2
Have you ever had suicidal thoughts ?         0
Work/Study Hours                              0
Financial Stress                              4
Family History of Mental Illness              0
Depression                                    0
dtype: int64

In [ ]:
train = train.drop(columns=['id','Name'])
test = test.drop(columns=['Name'])

In [ ]:
numeric_columns = ['Age', 'Academic Pressure', 'Work Pressure', 'CGPA',
                   'Study Satisfaction', 'Job Satisfaction', 'Work/Study Hours',
                   'Financial Stress', 'Depression']


categorical_columns = ['Gender', 'City', 'Working Professional or Student',
                      'Profession', 'Sleep Duration', 'Dietary Habits',
                      'Degree', 'Have you ever had suicidal thoughts ?',
                      'Family History of Mental Illness']

for feature in categorical_columns:
  unique = train[feature].unique()
  print(f"column: {feature}")
  print(f"Unique Values: {unique}\n")

column: Gender
Unique Values: ['Female' 'Male']

column: City
Unique Values: ['Ludhiana' 'Varanasi' 'Visakhapatnam' 'Mumbai' 'Kanpur' 'Ahmedabad'
 'Thane' 'Nashik' 'Bangalore' 'Patna' 'Rajkot' 'Jaipur' 'Pune' 'Lucknow'
 'Meerut' 'Agra' 'Surat' 'Faridabad' 'Hyderabad' 'Srinagar' 'Ghaziabad'
 'Kolkata' 'Chennai' 'Kalyan' 'Nagpur' 'Vadodara' 'Vasai-Virar' 'Delhi'
 'Bhopal' 'Indore' 'Ishanabad' 'Vidhi' 'Ayush' 'Gurgaon' 'Krishna'
 'Aishwarya' 'Keshav' 'Harsha' 'Nalini' 'Aditya' 'Malyansh' 'Raghavendra'
 'Saanvi' 'M.Tech' 'Bhavna' 'Less Delhi' 'Nandini' 'M.Com' 'Plata'
 'Atharv' 'Pratyush' 'City' '3.0' 'Less than 5 Kalyan' 'MCA' 'Mira'
 'Moreadhyay' 'Morena' 'Ishkarsh' 'Kashk' 'Mihir' 'Vidya' 'Tolkata' 'Anvi'
 'Krinda' 'Ayansh' 'Shrey' 'Ivaan' 'Vaanya' 'Gaurav' 'Harsh' 'Reyansh'
 'Kashish' 'Kibara' 'Vaishnavi' 'Chhavi' 'Parth' 'Mahi' 'Tushar' 'MSc'
 'No' 'Rashi' 'ME' 'Molkata' 'Researcher' 'Kagan' 'Armaan' 'Ithal'
 'Nalyan' 'Dhruv' 'Galesabad' 'Itheg' 'Aaradhya' 'Pooja' 'Khushi'
 'Khaziabad' 'Jhanvi' 'Unirar']

column: Working Professional or Student
Unique Values: ['Working Professional' 'Student']

column: Profession
Unique Values: ['Chef' 'Teacher' nan 'Business Analyst' 'Finanancial Analyst' 'Chemist'
 'Electrician' 'Software Engineer' 'Data Scientist' 'Plumber'
 'Marketing Manager' 'Accountant' 'Entrepreneur' 'HR Manager'
 'UX/UI Designer' 'Content Writer' 'Educational Consultant'
 'Civil Engineer' 'Manager' 'Pharmacist' 'Financial Analyst' 'Architect'
 'Mechanical Engineer' 'Customer Support' 'Consultant' 'Judge'
 'Researcher' 'Pilot' 'Graphic Designer' 'Travel Consultant'
 'Digital Marketer' 'Lawyer' 'Research Analyst' 'Sales Executive' 'Doctor'
 'Unemployed' 'Investment Banker' 'Family Consultant' 'B.Com' 'BE'
 'Student' 'Yogesh' 'Dev' 'MBA' 'LLM' 'BCA' 'Academic' 'Profession'
 'FamilyVirar' 'City Manager' 'BBA' 'Medical Doctor'
 'Working Professional' 'MBBS' 'Patna' 'Unveil' 'B.Ed' 'Nagpur' 'Moderate'
 'M.Ed' 'Analyst' 'Pranav' 'Visakhapatnam' 'PhD' 'Yuvraj']

column: Sleep Duration
Unique Values: ['More than 8 hours' 'Less than 5 hours' '5-6 hours' '7-8 hours'
 'Sleep_Duration' '1-2 hours' '6-8 hours' '4-6 hours' '6-7 hours'
 '10-11 hours' '8-9 hours' '40-45 hours' '9-11 hours' '2-3 hours'
 '3-4 hours' 'Moderate' '55-66 hours' '4-5 hours' '9-6 hours' '1-3 hours'
 'Indore' '45' '1-6 hours' '35-36 hours' '8 hours' 'No' '10-6 hours'
 'than 5 hours' '49 hours' 'Unhealthy' 'Work_Study_Hours' '3-6 hours'
 '45-48 hours' '9-5' 'Pune' '9-5 hours']

column: Dietary Habits
Unique Values: ['Healthy' 'Unhealthy' 'Moderate' 'Yes' 'Pratham' 'BSc' 'Gender' '3'
 'More Healthy' 'Less than Healthy' 'Mihir' '1.0' 'Hormonal' 'Electrician'
 nan 'No Healthy' 'Less Healthy' 'M.Tech' 'Vegas' 'No' 'Male' 'Indoor'
 'Class 12' '2']

column: Degree
Unique Values: ['BHM' 'LLB' 'B.Pharm' 'BBA' 'MCA' 'MD' 'BSc' 'ME' 'B.Arch' 'BCA' 'BE'
 'MA' 'B.Ed' 'B.Com' 'MBA' 'M.Com' 'MHM' 'BA' 'Class 12' 'M.Tech' 'PhD'
 'M.Ed' 'MSc' 'B.Tech' 'LLM' 'MBBS' 'M.Pharm' 'UX/UI Designer' 'MPA' 'BH'
 'Nalini' 'BEd' 'B.Sc' 'Veda' 'Bhopal' 'S.Tech' 'Degree' '20' 'Class 11'
 'H_Pharm' 'M' 'P.Com' 'BPharm' 'Business Analyst' 'M.Arch' 'LL.Com'
 'Data Scientist' 'MPharm' 'L.Ed' 'P.Pharm' 'Kalyan' 'Unite' 'BArch'
 'HR Manager' 'Badhya' 'S.Pharm' 'LLBA' 'Vrinda' 'M. Business Analyst'
 'Bhavesh' '0' 'LLCom' '29' 'MTech' 'Vivaan' 'BPA' 'Plumber' '5.61' 'Brit'
 'B.03' 'Ritik' '5.56' 'MEd' 'B' 'B BA' '7.06' 'B.B.Arch' 'ACA' 'Brithika'
 'CGPA' '24' 'M_Tech' 'Pihu' 'BB' 'Jhanvi' 'LLTech' 'Aarav' 'Entrepreneur'
 '8.56' 'LHM' 'Lata' 'S.Arch' 'Marsh' 'HCA' '5.88' 'B.Student' 'LL B.Ed'
 'M.S' 'Navya' 'Mahika' nan 'K.Ed' 'B.3.79' 'Mthanya'
 'Working Professional' 'Esha' 'LLS' 'LLEd' 'E.Tech' 'Doctor' 'N.Pharm'
 'LCA' 'B B.Com' 'RCA' 'Mihir' 'Advait']

column: Have you ever had suicidal thoughts ?
Unique Values: ['No' 'Yes']

column: Family History of Mental Illness
Unique Values: ['No' 'Yes']

In [ ]:
#cleaning the data
sleepmode = train['Sleep Duration'].mode()[0]
dietmode = train['Dietary Habits'].mode()[0]

train = train.replace({'Sleep Duration': {'Indore': sleepmode ,'Work_Study_Hours': sleepmode , 'Unhealthy': sleepmode,
"Pune": sleepmode, "Sleep_Duration": sleepmode, "than 5 hours": sleepmode, 'Moderate': sleepmode, 'No':sleepmode,
"40-45 hours": "4-5 hours", "55-66 hours": "5-6 hours", "35-36 hours": "4-6 hours", "45-48 hours":sleepmode,
"45": sleepmode, '49 hours': sleepmode}})

train = train.replace({'Dietary Habits':{
    'Yes': "Healthy", '1.0': "Healthy", 'Pratham': dietmode,  'BSc': dietmode, 'Gender': dietmode,
    '3': dietmode, 'M.Tech': dietmode, 'Mihir': dietmode,'Vegas': dietmode,'Male': dietmode,
    'Indoor': dietmode,'Male': dietmode,'Class 12': dietmode, '2': dietmode,  'Less Healthy' :"Unhealthy",
    "Hormonal":dietmode, 'Electrician':dietmode, 'No': 'Unhealthy','No Healthy':'Unhealthy', "More Healthy": "Healthy",
    'Less than Healthy': "Unhealthy"
}})


test = test.replace({'Sleep Duration': {'Indore': sleepmode ,'Work_Study_Hours': sleepmode , 'Unhealthy': sleepmode,
"Pune": sleepmode, "Sleep_Duration": sleepmode, "than 5 hours": sleepmode, 'Moderate': sleepmode, 'No':sleepmode,
"40-45 hours": "4-5 hours", "55-66 hours": "5-6 hours", "35-36 hours": "4-6 hours", "45-48 hours":sleepmode,
"45": sleepmode , '49 hours': sleepmode}})

test = test.replace({'Dietary Habits':{
    'Yes': "Healthy", '1.0': "Healthy", 'Pratham': dietmode,  'BSc': dietmode, 'Gender': dietmode,
    '3': dietmode, 'M.Tech': dietmode, 'Mihir': dietmode,'Vegas': dietmode,'Male': dietmode,
    'Indoor': dietmode,'Male': dietmode,'Class 12': dietmode, '2': dietmode,  'Less Healthy' :"Unhealthy",
    "Hormonal":dietmode, 'Electrician':dietmode, 'No': 'Unhealthy','No Healthy':'Unhealthy', "More Healthy": "Healthy",
    'Less than Healthy': "Unhealthy"
}})

print(train['Dietary Habits'].unique(),
train['Sleep Duration'].unique())

['Healthy' 'Unhealthy' 'Moderate' nan] ['More than 8 hours' 'Less than 5 hours' '5-6 hours' '7-8 hours'
 '1-2 hours' '6-8 hours' '4-6 hours' '6-7 hours' '10-11 hours' '8-9 hours'
 '4-5 hours' '9-11 hours' '2-3 hours' '3-4 hours' '9-6 hours' '1-3 hours'
 '1-6 hours' '8 hours' '10-6 hours' '3-6 hours' '9-5' '9-5 hours']

In [ ]:
#finding missing values or typos in numerical values
for feature in numeric_columns:
  unique = train[feature].unique()
  print(f"column: {feature}")
  print(f"Unique Values: {unique}\n")

column: Age
Unique Values: [49. 26. 33. 22. 30. 59. 47. 38. 24. 42. 55. 51. 39. 29. 50. 23. 56. 45.
 37. 46. 31. 19. 28. 25. 41. 60. 18. 36. 21. 58. 44. 43. 40. 35. 54. 27.
 52. 48. 57. 53. 34. 20. 32.]

column: Academic Pressure
Unique Values: [nan  5.  2.  3.  4.  1.]

column: Work Pressure
Unique Values: [ 5.  4. nan  1.  2.  3.]

column: CGPA
Unique Values: [    nan  8.97    5.9     7.03    5.59    8.13    5.7     9.54    8.04
  9.79    8.38    6.1     7.04    8.52    5.64    8.58    6.51    7.25
  7.83    9.93    8.74    6.73    5.57    8.59    7.1     6.08    5.74
  9.86    6.7     6.21    5.87    6.37    9.72    5.88    9.56    6.99
  5.24    9.21    7.85    6.95    5.86    7.92    9.66    8.94    9.71
  7.87    5.6     7.9     5.46    6.79    8.7     7.38    8.5     7.09
  9.82    8.89    7.94    9.11    6.75    7.53    9.49    9.01    7.64
  5.27    6.      9.44    5.75    7.51    9.05    6.38    8.95    9.88
  5.32    6.27    7.7     8.1     9.59    8.96    5.51    7.43    8.79
  9.95    5.37    6.86    8.32    9.74    5.66    7.48    8.23    8.81
  6.03    5.56    5.68    5.14    7.61    6.17    8.17    9.87    8.75
  6.16    9.5     7.99    5.67    8.92    6.19    5.76    6.25    5.11
  5.58    5.65    9.89    8.03    6.61    9.41    8.64    7.21    8.28
  6.04    9.13    8.08    9.96    5.12    8.35    7.07    9.6     9.24
  8.54    8.78    8.93    8.91    9.04    6.83    5.85    7.74    6.41
  8.9     7.75    7.88    5.42    7.52    7.68    8.4     9.39    6.84
  5.99    8.62    8.53    7.47    6.78    6.42    9.92    8.39    5.89
  7.22    6.81    9.02    9.97    9.63    9.67    5.41    7.27    6.05
  6.85    9.33    5.81    6.53    5.98    6.02    6.74    5.26    7.72
  7.39    8.43    9.34    5.44    5.82    5.72    8.19    8.44    8.98
  9.37    5.8     7.28    7.6     7.91    9.17    7.46    9.43    9.91
  9.36    5.16    7.08    9.26    8.83   10.      7.8     9.46    6.63
  7.24    6.47    7.77    5.06    7.17    8.24    6.88    9.03    5.08
  5.45    8.46    9.19    6.36    8.73    7.11    9.12    9.4     8.11
  9.98    5.55    8.61    8.14    6.89    9.84    5.48    8.21    7.82
  8.55    5.79    8.77    8.29    6.92    7.37    9.7     6.26    7.26
  7.5     6.82    7.15    5.77    5.91    5.1     7.71    9.06    5.71
  5.84    9.42    6.23    6.29    5.25    9.69    9.9     6.39    8.09
  5.83    5.47    6.56    8.71    9.94    6.69    5.52    7.3     7.02
  6.33    8.07    8.37    8.      7.79    8.65    6.28    7.35    8.69
  7.12    7.32    7.13    5.97    5.09    6.91    6.76    6.52    7.45
  8.56    6.5     8.63    8.27    8.49    6.59    9.29    5.3     7.06
  5.38    6.65    9.16    8.01    8.25    8.02    8.47    7.34    8.88
  7.14    8.42    5.17    9.1     7.49    9.85    7.42    9.31    6.35
  7.      5.39    5.61    9.78    9.25    5.69    9.47    8.16    7.23
  6.46    8.26    6.32    6.77    8.85    5.03    7.65    5.78    6.24
  5.35    6.06    7.78    6.64    7.0625  6.98    6.44    6.09  ]

column: Study Satisfaction
Unique Values: [nan  2.  5.  3.  4.  1.]

column: Job Satisfaction
Unique Values: [ 2.  3. nan  1.  5.  4.]

column: Work/Study Hours
Unique Values: [ 1.  7.  3. 10.  9.  6.  8.  2.  0.  5. 12.  4. 11.]

column: Financial Stress
Unique Values: [ 2.  3.  1.  4.  5. nan]

column: Depression
Unique Values: [0 1]

In [ ]:
# handling null values using mean for numeric datas and mode for numerical datas
train[numeric_columns] = train[numeric_columns].fillna(train[numeric_columns].mean())
test[[col for col in numeric_columns if col != 'Depression']] = test[[col for col in numeric_columns if col != 'Depression']].fillna(test[[col for col in numeric_columns if col != 'Depression']].mean())

for col in categorical_columns:
    train[col] = train[col].fillna(train[col].mode()[0])
    test[col] = test[col].fillna(test[col].mode()[0])


print(train.isnull().sum())
print(train.head())

Gender                                   0
Age                                      0
City                                     0
Working Professional or Student          0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
Depression                               0
dtype: int64
   Gender   Age           City Working Professional or Student  \
0  Female  49.0       Ludhiana            Working Professional
1    Male  26.0       Varanasi            Working Professional
2    Male  33.0  Visakhapatnam                         Student
3    Male  22.0         Mumbai            Working Professional
4  Female  30.0         Kanpur            Working Professional

         Profession  Academic Pressure  Work Pressure      CGPA  \
0              Chef           3.142273       5.000000  7.658636
1           Teacher           3.142273       4.000000  7.658636
2           Teacher           5.000000       2.998998  8.970000
3           Teacher           3.142273       5.000000  7.658636
4  Business Analyst           3.142273       1.000000  7.658636

   Study Satisfaction  Job Satisfaction     Sleep Duration Dietary Habits  \
0             2.94494          2.000000  More than 8 hours        Healthy
1             2.94494          3.000000  Less than 5 hours      Unhealthy
2             2.00000          2.974404          5-6 hours        Healthy
3             2.94494          1.000000  Less than 5 hours       Moderate
4             2.94494          1.000000          5-6 hours      Unhealthy

    Degree Have you ever had suicidal thoughts ?  Work/Study Hours  \
0      BHM                                    No               1.0
1      LLB                                   Yes               7.0
2  B.Pharm                                   Yes               3.0
3      BBA                                   Yes              10.0
4      BBA                                   Yes               9.0

   Financial Stress Family History of Mental Illness  Depression
0               2.0                               No           0
1               3.0                               No           1
2               1.0                               No           1
3               1.0                              Yes           1
4               4.0                              Yes           0